// 主题颜色 #fd7d00
// $accentColor = #fb751c
// 这里能够配置一些全局的样式，通过 f12 找到对应的元素即可
blockquote {
  border-left: 0.25rem solid #06d1c4 !important;
  background-color:#d8efe5 !important;
  color: #2c9c55 !important;
  font-size: 16px!important;
}

